apiVersion: v1
kind: Pod
metadata:
  name: flask-app
  labels:
    name: flask-app
spec:
  containers:
  - name: flask-app
    image: kaustavhalder/tesst-py-app:1.0.2
    imagePullPolicy: IfNotPresent
    livenessProbe:
      httpGet:
        path: /health
        port: 5000
      initialDelaySeconds: 5
      timeoutSeconds: 1
      periodSeconds: 5
      failureThreshold: 3
    resources:
      requests:
        cpu: "500m"
        memory: "128Mi"
      limits:
        memory: "256Mi"
        cpu: "1000m"
    ports:
      - containerPort: 5000
        name: http
        protocol: TCP
